.beer__item {
  display: flex;
  flex-direction: column;
}

.beer__image {
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
}

.beer__information {
  display: flex;
  flex-direction: column;
}
